{{- $secrets := list "HOMEBREW_GITHUB_API_TOKEN" "GOPRIVATE" "NGROK_AUTH_TOKEN" "GITHUB_TOKEN" -}}

[data]
    # Secrets configuration
    # Using 1Password for secrets
    {{- range $secret := $secrets }}
    secrets.{{ $secret }} = {{ onepasswordRead (printf "op://Dotfiles/chezmoi-secrets/%s" $secret) | quote }}
    {{- end }}
