{{- $secretsMethod := promptStringOnce . "secretsMethod" "Which secrets management method to use? (1password/configfile/bitwarden)" "1password" -}}

{{- $secrets := list "HOMEBREW_GITHUB_API_TOKEN" "GOPRIVATE" "NGROK_AUTH_TOKEN" -}}

[data]
    # Secrets configuration

    {{- if eq $secretsMethod "1password" }}
    # Using 1Password for secrets
        {{- range $secret := $secrets }}
    secrets.{{ $secret }} = {{ onepasswordRead (printf "op://Dotfiles/%s/password" $secret) | quote }}
        {{- end }}

    {{- else if eq $secretsMethod "bitwarden" }}
    # Using Bitwarden for secrets
        {{- range $secret := $secrets }}
    secrets.{{ $secret }} = {{ (bitwardenFields "item" $secret).password.value | quote }}
        {{- end }}

    {{- else if eq $secretsMethod "configfile" }}
        {{- $configPath := "~/.config/chezmoi/secrets.toml" }}
        {{- $secretsFile := joinPath (env "HOME") $configPath }}

        {{- if stat $secretsFile }}
            {{- $secretsData := include $secretsFile | fromToml }}
    # Using config file for secrets
            {{- range $secret := $secrets }}
    secrets.{{ $secret }} = {{ index $secretsData $secret | quote }}
            {{- end }}

        {{- else }}
    # ERROR: Secrets file not found at {{ $secretsFile }}
            {{- range $secret := $secrets }}
    secrets.{{ $secret }} = "MISSING_SECRET_FILE"
            {{- end }}
        {{- end }}

    {{- end }}

