# Alacritty Configuration
[general]
live_config_reload = true

[env]
# TERM = "xterm-256color"  # можно убрать, если всё равно tmux
COLORTERM = "truecolor"

[window]
padding = { x = 0, y = 0 }
decorations = "buttonless"
opacity = 0.95
startup_mode = "Maximized"
dynamic_title = true

[font]
size = 13.5

[font.normal]
family = "JetBrainsMono Nerd Font"

[font.bold]
style = "Bold"

[font.italic]
style = "Medium Italic"

[font.bold_italic]
style = "Bold Italic"

[font.offset]
x = 0
y = 0

[font.glyph_offset]
x = 0
y = 0

[colors]
draw_bold_text_with_bright_colors = true

# Default colors (Gruvbox dark theme)
[colors.primary]
background = '#282828'
foreground = '#ebdbb2'

# Normal colors
[colors.normal]
black = '#282828'
red = '#cc241d'
green = '#98971a'
yellow = '#d79921'
blue = '#458588'
magenta = '#b16286'
cyan = '#689d6a'
white = '#a89984'

# Bright colors
[colors.bright]
black = '#928374'
red = '#fb4934'
green = '#b8bb26'
yellow = '#fabd2f'
blue = '#83a598'
magenta = '#d3869b'
cyan = '#8ec07c'
white = '#ebdbb2'

[cursor]
style = { shape = "Block", blinking = "On" }
blink_interval = 750
unfocused_hollow = true

[scrolling]
multiplier = 3

[selection]
save_to_clipboard = true

# Key bindings
[[keyboard.bindings]]
key = "W"
mods = "Command"
action = "Quit"

[[keyboard.bindings]]
key = "V"
mods = "Command"
action = "Paste"

[[keyboard.bindings]]
key = "C"
mods = "Command"
action = "Copy"

[[keyboard.bindings]]
key = "Plus"
mods = "Command"
action = "IncreaseFontSize"

[[keyboard.bindings]]
key = "Minus"
mods = "Command"
action = "DecreaseFontSize"

[[keyboard.bindings]]
key = "Key0"
mods = "Command"
action = "ResetFontSize"

# URL hints
[[hints.enabled]]
command = "open"
post_processing = true
persist = false
regex = "(ipfs:|ipns:|magnet:|mailto:|gemini:|gopher:|https:|http:|news:|file:|git:|ssh:|ftp:)[^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`]+"

[hints.enabled.binding]
key = "U"
mods = "Control|Shift"

[hints.enabled.mouse]
enabled = true
mods = "Command"

[terminal.shell]
program = "/opt/homebrew/bin/fish"
args = ["-l", "-c", "tm"]

